.contenedor{
    margin: 0px auto;
    width: 1000px;
    background-color: #dfe0dc;
}

.dropdown-menu{
    color: aquamarine;;
}

.navbar{
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.texto_centrado{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: red !important;
}

.card{
    background-color: white;
}
.centrar{
    padding-left: 1px;
}

.card-img-top{
    padding: 50px;
}

footer{
    background-color: black;
    margin-top: 150px;
    padding-bottom: 10px;
}

.col{
    color: white;
    padding-top: 50px ;
}
a{
    text-decoration: none;
}
.pie{ 
    text-decoration: none;
    color: white;
    text-align: center;
}

#logo{
    padding-left: 360px;
    margin-top: 30px;
}

